body {
  color: purple;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container
{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid pink;
  margin: 0 auto;
}

#container h1
{
  font-size: 20px;
}

#cabecera
{
  background: lightsteelblue;
  color:aliceblue;
  margin: 0;
  padding: 0.5em;
  box-shadow: 0px 2px 30px 0px purple;
  font-weight: bold;
}

#cabecera #tagline
{
padding: 0 0 0 1em;
font-weight: normal;
font-size: 0.8em;


}