body {
  background: white;
  color: rgb(8, 10, 10);
  font-family: Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("https://us.123rf.com/450wm/yamabikay/yamabikay1702/yamabikay170200099/71073592-fondo-azul-cielo-textura-de-alta-calidad-en-una-resoluci%C3%B3n-extremadamente-alta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 18px;
}

.contenedor {
 
  width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
  text-align: center; /* Centra el botón horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo para las imágenes */
.imagen {
  width: 50vh; /* Ancho del 100% del contenedor */
  height: 100%; /* Altura automática para mantener la proporción */
  object-fit: cover;
  object-position: bottom;
  
}

.button-new {
  /* Ajusta el botón al centro exacto */
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  width: auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: inherit;
}

.begin {
  color: black;
  background-color: #fff;
  width: auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  white-space: nowrap; /* Evita el ajuste de texto en múltiples líneas */
  font-family: "Blinker", sans-serif;
  position: absolute; /* Permite posicionar con respecto al contenedor */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, 0);
  font-size: inherit;
  position: absolute;
  bottom: 15%;
}
.begin:hover{
 color:#D3D3D3 ;
}

.text {
  color: #fff;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Blinker", sans-serif;
}

.contenedor-categorias {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.logo {
  
  position: absolute;
  top: 0;
  left: 28%;
 
}

/* Estilos adicionales para el logo si es necesario */
.logo img {
  max-width: 70px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
}

.categoria {
  padding: 0 25px;
  margin: 0;
  color: #fff;
  font-family: "Blinker", sans-serif;
  position: relative;
}
.categoria:not(:last-child)::after {
  content: "";
  height: 50%;
  width: 4px;
  right: 0;
  transform: translate(50%, -50%);
  top: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
}
.cabecera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  /* Estilos para pantallas más pequeñas (tabletas) */
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas aún más pequeñas (teléfonos móviles) */
}
